---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - controlplane.antrea.io
  resources:
  - addressgroups
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - controlplane.antrea.io
  resources:
  - appliedtogroups
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - controlplane.antrea.io
  resources:
  - networkpolicies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - crd.antrea.io
  resources:
  - externalentities
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - crd.antrea.io
  resources:
  - externalentities/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - crd.cloud.antrea.io
  resources:
  - cloudentityselectors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - crd.cloud.antrea.io
  resources:
  - cloudentityselectors/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - crd.cloud.antrea.io
  resources:
  - cloudprovideraccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - crd.cloud.antrea.io
  resources:
  - cloudprovideraccounts/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - crd.cloud.antrea.io
  resources:
  - virtualmachines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - crd.cloud.antrea.io
  resources:
  - virtualmachines/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - ""
  resourceNames:
  - extension-apiserver-authentication
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
