{% for hostname in groups['all'] %}

Host {{ hostname }}
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no
    HostName {{ hostvars[hostname]['ansible_host'] }}
    Port 22
    User jenkins
    IdentityFile /var/lib/jenkins/.ssh/id_rsa

{% endfor %}
