name: Build and push a release image

on:
  push:
    tags:
      - v*

jobs:
  get-version:
    runs-on: [ubuntu-latest]
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
    - name: Extract version from Github ref
      id: get-version
      env:
        TAG: ${{ github.ref }}
      run: |
        version=${TAG:10}
        echo "::set-output name=version::$version"

  build:
    runs-on: [ubuntu-latest]
    needs: get-version
    steps:
    - uses: actions/checkout@v3
    - name: Build and push Nephe Docker image to registry
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        VERSION: ${{ needs.get-version.outputs.version }}
      run: |
        make build
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        docker tag antrea/nephe:latest antrea/nephe:"${VERSION}"
        docker push antrea/nephe:"${VERSION}"
